In [40]:
import pandas as pd

In [41]:
messages = pd.read_csv('Book1.csv')
messages.head()

                                  sentence  label
0  Football player plays for football team      1
1         Lionel Messi plays for Barcelona      1
2             Barcelona is a football team      1
3    Christiano Ronaldo plays for Juventus      1
4  Christiano Ronaldo is a football player      1

In [42]:
messages.groupby('label').describe()

      sentence
         count unique                        top freq
label
0           91     91              Ram does food    1
1           97     91  Carbon di oxide is a gas.    2

In [43]:
messages['length'] = messages['sentence'].apply(len)
messages.head()

                                  sentence  label  length
0  Football player plays for football team      1      39
1         Lionel Messi plays for Barcelona      1      32
2             Barcelona is a football team      1      28
3    Christiano Ronaldo plays for Juventus      1      37
4  Christiano Ronaldo is a football player      1      39

In [44]:
import string

In [45]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\patel\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\patel\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [46]:
from nltk.corpus import stopwords

In [87]:
def text_process(mess):
    """
    Takes in a string of text, then performs the following:
    1. Remove all punctuation
    2. Remove all stopwords
    3. Returns a list of the cleaned text
    """
    # Check characters to see if they are in punctuation
    nopunc = [char for char in mess if char not in string.punctuation]

    # Join the characters again to form the string.
    nopunc = ''.join(nopunc)
    
    # Now just remove any stopwords
    return [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]

In [88]:
from sklearn.feature_extraction.text import CountVectorizer

In [89]:
from sklearn.feature_extraction.text import TfidfTransformer

In [90]:
from sklearn.ensemble import RandomForestClassifier

In [91]:
from sklearn.model_selection import train_test_split
msg_train, msg_test, label_train, label_test = train_test_split(messages['sentence'], messages['label'], test_size=0.3)

In [92]:
from sklearn.pipeline import Pipeline

In [93]:
pipeline = Pipeline([
    ('bow', CountVectorizer(analyzer=text_process)),
    ('tfidf', TfidfTransformer()), 
    ('classifier', RandomForestClassifier())])

In [94]:
pipeline.fit(msg_train,label_train)

Pipeline(memory=None,
     steps=[('bow', CountVectorizer(analyzer=<function text_process at 0x000001CBC284E1E0>,
        binary=False, decode_error='strict', dtype=<class 'numpy.int64'>,
        encoding='utf-8', input='content', lowercase=True, max_df=1.0,
        max_features=None, min_df=1, ngram_range=(1, 1), preprocesso...n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False))])

In [95]:
predictions = pipeline.predict(msg_test)

In [96]:
from sklearn.metrics import classification_report

In [97]:
print(classification_report(label_test,predictions))

             precision    recall  f1-score   support

          0       0.35      0.79      0.48        19
          1       0.71      0.26      0.38        38

avg / total       0.59      0.44      0.42        57